/*Media queries*/
@media (max-width: 500px){
    *{
        font-size: 16px;;
    }

    body{
        background: url(/svg/background-mobile.svg) no-repeat;
    }

    /*Nav*/
    .nav-menu{
        display: none;
    }

    .nav-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        height: 60px;
        padding: 5px;
    }

    .nav-brand{
        width: 40px;
        margin: auto 0;
    }

    /*Home presentation*/
    .home-presentation{
        grid-template-columns: repeat(5,1fr);
        margin-top: 50px;
    }

    /*About me*/
    .about-me{
        grid-template-columns: repeat(5, 1fr);
/*grid-template-rows: auto auto;*/
    }

    .about-me-illustration{
        grid-column: 4 / span 2;
        /*grid-row: 1 /span 1;*/
    }
    .about-me-content{
        grid-column: 1 /span 3;
        padding: 10px 20px;
    }


}