/*Media queries*/
@media (max-width: 700px){
    *{
        font-size: 16px;;
    }

    body{
        background: url(/svg/background-mobile.svg) no-repeat;
    }

    /*Nav*/
    .nav-menu{
        display: none;
    }

    .nav-main{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0px;
        height: 60px;
        padding: 5px;
    }

    .nav-brand{
        width: 40px;
        margin: auto 0;
    }

    /*Home presentation*/
    .home-presentation{
        grid-template-columns: repeat(5,1fr);
        margin-top: 50px;
    }

    /*About me*/
    .about-me{
        grid-template-columns: repeat(5, 1fr);
        gap: 0;
    }

    .about-me-illustration{
        grid-column: 4 / span 2;
    }
    .about-me-content{
        grid-column: 1 /span 3;
        padding: 10px 20px;
    }

    /*Projects*/
    .projects{
        grid-template-columns: repeat(5, 1fr);
        gap: 0;
    }

    .projects-illustration{
        grid-column: 1 / span 2;
    }

    .projects-content{
        grid-column: 3 / span 3;
        padding: 10px 20px;
    }

    .projects-grid-card{
        margin: 0px;
        width: 100%;
    }

    .projects-grid{
        margin: 0;
    }

    /*footer*/
    .contact-form{
        grid-column: 1/8;
    }

    .nav-main ul.nav-menu{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #174483;
        height: 100%;
        width: 50%;
        opacity: 0.9;
        text-align: center;
        transform: translate(-400px);
        transition: transform 0.5s ease-in-out;
        /*padding: 30px;*/
    }

    .nav-main ul li{
        padding:20px;
        margin: 10px 10px;
    }

    .nav-main ul li a{
        color: white;
    }

    .nav-main .nav-menu.show {
        transform: translateX(-20px);
    }

}